.main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.levelSelector {
  margin-bottom: 20px;
}

.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.cell-5 {
  width: 4rem;
  height: 4rem;
}

.cell-10 {
  width: 3rem;
  height: 3rem;
}

.cell-15 {
  width: 2rem;
  height: 2rem;
}

.cell-20 {
  width: 1.5rem;
  height: 1.5rem;
}

.cell.filled {
  background-color: white;
}

.cellError {
  background-color: red;
  transition: background-color 0.5s ease;
}

@keyframes crossFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.crossed {
  animation: crossFade 0.2s ease-in-out;
}

.cell.crossed::before,
.cell.crossed::after {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 2px;
  background-color: white;
}

.cell.crossed::before {
  transform: rotate(45deg);
}

.cell.crossed::after {
  transform: rotate(-45deg);
}

.cell.boldLeft {
  border-left: 2px solid white;
}

.cell.boldTop {
  border-top: 2px solid white;
}

.cell.boldRight {
  border-right: 2px solid white;
}

.cell.boldBottom {
  border-bottom: 2px solid white;
}

@keyframes flash {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}

.flash {
  animation: flash 0.5s linear;
}

.header {
  display: flex;
  margin-bottom: 1rem;
}

.lives {
  display: flex;
  height: 5rem;
  width: 8rem;
  align-items: center;
  justify-content: space-between;
}

.life {
  display: inline-block;
  margin: 0 5px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.life.wiggle {
  animation: wiggle 0.3s ease;
  color: gray;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.emptyCorner {
  width: 6rem;
}

.columnNumbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.columnNumbers-5 {
  width: 4rem;
}

.columnNumbers-10 {
  width: 3rem;
}

.columnNumbers-15 {
  width: 2rem;
}

.columnNumbers-20 {
  width: 1.5rem;
}

.rowNumbers {
  display: flex;
  width: 5rem;
  justify-content: end;
  align-items: center;
  margin-right: 1rem;

  .number {
    margin-left: 0.5rem;
  }
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
}

.number-5,
.number-10 {
  font-size: 1rem;
}

.number-15 {
  font-size: 0.9rem;
}

.number-20 {
  font-size: 0.8rem;
}

.toggleButton {
  width: 6rem;
  height: 3rem;
  margin-top: 3rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  background-color: #ddd;
}

.toggleIcon {
  padding: 0.7rem;
  display: flex;
  align-items: center;
}

.toggleSwitch {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #9a9a9a;
}

.toggleSwitch.cross {
  transform: translateX(0);
}

.toggleSwitch.fill {
  transform: translateX(3rem);
}

/* Responsive styles */
@media (max-width: 600px) {
  .header {
    margin-bottom: 0.3rem;
  }

  .emptyCorner {
    width: 2.5rem;
  }

  .columnNumbers {
    width: 2rem;
  }

  .rowNumbers {
    width: 2rem;
    margin-right: 0.5rem;
  }

  .cell-5 {
    width: 3rem;
    height: 3rem;
  }

  .cell-10 {
    width: 2rem;
    height: 2rem;
  }

  .cell-15 {
    width: 1.2rem;
    height: 1.2rem;
  }

  .cell-20 {
    width: 1rem;
    height: 1rem;
  }

  .columnNumbers-5 {
    width: 3rem;
  }

  .columnNumbers-10 {
    width: 2rem;
  }

  .columnNumbers-15 {
    width: 1.2rem;
  }

  .columnNumbers-20 {
    width: 1rem;
  }

  .number {
    height: 1rem;
  }

  .number-5,
  .number-10 {
    font-size: 0.8rem;
  }

  .number-15,
  .number-20 {
    font-size: 0.7rem;
  }
}

@media (max-width: 400px) {
  .cell-10 {
    width: 1.7rem;
    height: 1.7rem;
  }

  .columnNumbers-10 {
    width: 1.7rem;
  }

  .number-5,
  .number-10,
  .number-15 {
    font-size: 0.7rem;
  }

  .number-20 {
    font-size: 0.6rem;
  }
}
