.grid {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.row {
  display: flex;
}

.cell {
  width: 3rem;
  height: 3rem;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
