.levelSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.levelButton {
  width: 5rem;
  background-color: var(--shade-color);
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.2rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

.levelButton.selected {
  background-color: var(--dark-color);
  color: white;
}

.label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

@media (max-width: 400px) {
  .levelSelector {
    margin-bottom: 0.5rem;
  }

  .levelButton {
    width: 4rem;
    padding: 0.5rem 0.5rem;
  }
}
