.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 0.5rem;
  color: var(--logo-color);
  font-weight: bold;
  font-size: 0.8rem;
}
